  .rhombus-parent {
    clip-path: inset(0% 0% 0% 0% round 75px);
    transform: rotate(45deg);
    background: url("assets/img/index_roses.jpg") center;
    background-size: 100%;
    height: 30em;
    width: 30em;
    transition: background-size, 500ms;
  }

  .rhombus-parent:hover {
    background-size: 135%;
  }
