.navbar-light .navbar-nav .nav-link {
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    color: #fd867963;
}

/* active */
.navbar-light .navbar-nav .nav-link.active {
    color: #FD8779;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #dd5344;
}

